@import '../../styles/colors.scss';
#principle {
  // properties
  color: $primary-4;
  background-color: $primary-1;
  min-height: 5em;
  max-height: 8em;
  min-width: 300px;
  width: 40%;
  border-radius: 5px;
  text-align: center;
  margin: 1%;
  padding: 1%;

  //for centering vertically
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  animation-name: enter;
  animation-duration: .3s;
}

@keyframes enter {
  from {transform: scale(0.2); opacity: 0;}
  to {transform: scale(1.0); opacity: 1;}
}