@import '../../styles/colors.scss';

/* mobile */
#principle {
  // properties
  color: $primary-dark;
  background-color: $primary-light;
  font-size: 0.7em;
  padding: 5%;
  min-height: 3em;
  min-width: 200px;
  width: 40%;
  border-radius: 50px;
  text-align: center;
  margin: 1%;
  overflow-wrap: break-word;

  //for centering vertically
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  animation-name: enter;
  animation-duration: .3s;
}


/* larger screens */
@media only screen and (min-width: 768px) {
  #principle {
    // properties
    min-height: 100px;
    min-width: 300px;
    max-width: 500px;
    border-radius: 50px;
    font-size: 1.2em;
    margin: 1%;
    padding: 3%;
  }
}


@keyframes enter {
  from {transform: scale(0.2); opacity: 0;}
  to {transform: scale(1.0); opacity: 1;}
}

