@import '../../styles/colors.scss';

#welcome-view {
  display: flex;
  flex-direction: column;
}

/* mobile */
#hero {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: space-between;
  padding-bottom: 10%;
}
#hero-text {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  color: $primary;
}
#hero-image {
  height: 50%;
  width: 50%;
  display: flex;
  margin: auto;
}
#learn-more-button {
  text-decoration: none;
  color: $complement;
  background-color: $primary;
  padding:1em;
  margin:10%;
  width: 20%;
  text-align: center;
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
}
#learn-more-button:hover {
  background-color: $primary-dark;
  color: $complement-dark;
}
#down-arrows {
  height: 10px;
  width: 20px;
  margin: auto;
  padding-top: 2px;
  justify-content: center;
}
.subtext-icon {
  width: 40px;
  height: 40px;
}
.welcome-subcontent {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
.subtext {
  width:80%;
  font-size: 0.5em;
  font-weight:bold;
  margin:auto;
}
.demo-subcontent {
  margin-top: 10%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #hero {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: space-between;
    padding-bottom: 10%;
  }
  #hero-text {
    display: flex;
    flex-direction: column;
    color: $primary;
    padding-right: 3%;
    font-size: 1em;
  }
  #hero-image {
    height: 231px;
    width: 298px;
  }
  #learn-more-button {
    text-decoration: none;
    color: $complement;
    background-color: $primary;
    padding:1em;
    margin:10%;
    width: 147px;
    text-align: center;
    font-size: 18;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
  }
  #learn-more-button:hover {
    background-color: $primary-dark;
    color: $complement-dark;
  }
  #down-arrows {
    height: 19px;
    width: 35px;
    margin: auto;
    padding-top: 2px;
    justify-content: center;
  }
  .subtext-icon {
    width: 70px;
    height: 70px;
  }
  .welcome-subcontent {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    margin-top: 10%;
  }
  .subtext {
    width:80%;
    font-size: 1em;
    font-weight:bold;
    margin:auto;
  }
  .demo-subcontent {
    margin-top: 10%;
    text-align: center;
  }
}