@import '../../styles/colors.scss';
/* mobile */
#footer-container {
  display: flex;
  margin-top: 20%;
  color: $complement-light;
  background: $primary;
}
#footer-content{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row;
  margin: auto;
  height: 40px;
}

.footer-text {
  font-size: 0.5em;
  margin: auto;
  min-width: 170px;

}

#github-link{
  color: $complement-light;
  padding-left: 1%;
  text-decoration: underline;
}
#github-link:hover{
  color: white;
}

/* larger screens */
@media only screen and (min-width: 768px) {
  #footer-content{
    margin: auto;
    height: 100px;
  }
  #footer-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row;
    width: 80%;
    margin: auto;
  }
  
  .footer-text {
    font-size: 1.2em;
    min-width: 400px;
  }
  
  #github-link{
    text-decoration: none;
    cursor: pointer;
  }
  #github-link:hover{
    color: white;
  }
  

}