@import '../../styles/colors.scss';
.view-header-container{
  background: $primary-3;
  padding: 0 4% 0 4%;
  margin-bottom: 2%;
}
.view-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 900px;
  margin:auto;
}
.view-header-text {
  align-self: flex-end;
  font-size: 180%;
  color: $complement-1;
}

.view-content-container {
  padding: 0 4% 0 4%;
}
.view-content {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin:auto;
}