@import '../../styles/colors.scss';
.view-header-container{
  background: $primary;
  //padding: 0 4% 0 4%;
  //margin-bottom: 2%;
}
.view-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 80%;
  margin:auto;
}
.view-header-text {
  align-self: flex-end;
  font-size: 180%;
  color: $complement;
}

.view-content-container {
  //padding: 0 4% 0 4%;
}
.view-content {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin:auto;
}