@import './colors.scss';
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
p {
  font-family: 'Montserrat', sans-serif;
  line-height: 200%;
}
a {
  text-decoration: none;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 70%;
  margin: auto;
  max-width: 900px;
}
button {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  // border-radius: 10px;
  padding:1em;
  margin:2%;
  min-width: 150px;
  text-align: center;
  font-size: small;
  cursor: pointer;
}
a {
  font-family: 'Montserrat', sans-serif;
}
input {
  background: transparent;
  border: none;
  border-bottom: 1px solid $primary;
  padding:1%;
  font-size: 1.5em;
  ;
}