$primary-dark: #0A2435;
$primary: #19547B;	// Main Primary color */
$primary-light: #D0DCE4;

$complement-dark: #8B7655;
$complement: #FFD89B;	// Main Complement color */
$complement-light: #FFECCE;

$neutral: #A6A58F;	// Neutral color */
$opaque: rgba(99, 107, 129, 0.61);