// $primary-0: rgba( 72, 91,143,1);	// Main Primary color */
// $primary-1: rgb(179, 198, 250);
// $primary-2: rgba( 97,117,170,1);
// $primary-3: rgba( 48, 65,111,1);
// $primary-4: rgba( 26, 42, 88,1);

// $primary-1-opaque: rgba(179, 198, 250, 0.6);


// $complement-0: rgba(212,174, 94,1);	// Main Complement color */
// $complement-1: rgb(253, 226, 168);
// $complement-2: rgba(253,214,131,1);
// $complement-3: rgba(164,131, 59,1);
// $complement-4: rgba(130, 97, 27,1);

$primary-dark: #0A2435;
$primary: #19547B;	// Main Primary color */
$primary-light: #D0DCE4;

$complement-dark: #8B7655;
$complement: #FFD89B;	// Main Complement color */
$complement-light: #FFECCE;

$neutral: #A6A58F;	// Neutral color */