@import '../../styles/colors.scss';

.block-button-container {
  text-decoration: none;
  color: $complement;
  background-color: $primary;
  padding:1em;
  margin:2%;
  width: 147px;
  text-align: center;
  font-size: 18;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-button-container:hover {
  background-color: $primary-dark;
  color: $complement-dark;
}
