@import '../../styles/colors.scss';

/* mobile */
.principle-editor-container {
  color: $primary;
  background-color: $primary-light;
  border-radius: 100px;
  height: 50%;
  width: 80%;
  text-align: center;
  margin: 1%;
  padding: 1%;
  padding-top: 5%;
  animation-name: modalEnter;
  animation-duration: .3s;
}
#principle-editor-form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10%;
  margin: 5%;
  height: 65%;
}
#principle-editor-input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.3em;
  color: $primary;
}
#principle-editor-label {
  position: absolute;
  top: -75%;
  height: 100%;
  width: 100%;
  text-align: left;
  pointer-events: none;
  font-size: 1.3em;
}
 #principle-editor-label-text {
   position: absolute;
   bottom: 5px;
   left: 0px;
   transition: all 0.3s ease;
 }
#principle-editor-input:focus + #principle-editor-label #principle-editor-label-text,
#principle-editor-input:valid + #principle-editor-label #principle-editor-label-text{
   transform: translateY(-220%);
   color: $complement;
   text-shadow:  3px 3px 9px $opaque;
}
#principle-editor-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 20%;
  right: 10%;
}
.principle-editor-button {
  margin: 1%;
}


/* large screens */
@media only screen and (min-width: 768px) {
  .principle-editor-container {
    height: 30%;
    width: 40%;
  }
  #principle-editor-form {
    top: 10%;

  }
  #principle-editor-input {
    font-size: 1.6em;
  }
  #principle-editor-label {
    font-size: 2em;
  }
  #principle-editor-input:focus + #principle-editor-label #principle-editor-label-text,
  #principle-editor-input:valid + #principle-editor-label #principle-editor-label-text{
   transform: translateY(-250%);
   color: $complement;
   text-shadow:  3px 3px 9px $opaque;
  } 
}

@keyframes modalEnter {
  from {transform: scale(0.2); opacity: 0;}
  to {transform: scale(1.0); opacity: 1;}
}