@import '../../styles/colors.scss';

#header-container {
  color: $primary-dark;
  background: $complement-light;
}

#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}

#header-title {
  align-self: flex-end;
  font-size: 18;
  color: $primary;
  font-weight: bold;
  cursor: pointer;
  min-width: 350px;
}

#header-icon {
  height: 22px;
  width: 22px;
  padding: 1%;
}

#header-side-container {
  display: flex;
  flex-direction: row;
}

.header-button {
  text-decoration: none;
  color: $complement;
  background-color: $primary;
  padding:1em;
  margin:2%;
  width: 147px;
  height: 20px;
  text-align: center;
  font-size: 18;
}

.header-button:hover {
  background-color: $primary-dark;
  color: $complement-dark;
}