@import '../../styles/colors.scss';
#header-container {
  color: $primary-dark;
  background: $complement-light;
}
#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}

/* mobile */
#header-title {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  font-size: 1em;
  color: $primary;
  font-weight: bold;
  cursor: pointer;
  min-width: 20px;
}
#header-icon {
  height: 10%;
  width: 10%;
  padding: 1%;
}
#hamburger-nav {
  height: 30%;
  width: 80%;
  cursor: pointer;
}
#hamburger-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#logged-in {
  display: none;
}
#header-side-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  #header-title {
    align-self: flex-end;
    align-items: center;
    font-size: 1.2em;
    color: $primary;
    font-weight: bold;
    min-width: 35%;
    cursor: pointer;
  }
  #hamburger-nav-container {
    display: none;
  }
  #header-side-container {
    display: flex;
    flex-direction: row;
  }
  #header-icon {
    height: 22px;
    width: 22px;
    padding: 1%;
  }
  .header-button {
    text-decoration: none;
    color: $complement;
    background-color: $primary;
    padding:1em;
    margin:2%;
    width: 30%;
    min-width: 100px;
    height: 20px;
    text-align: center;
    font-size: 1em;
  }
  .header-button:hover {
    background-color: $primary-dark;
    color: $complement-dark;
  }
  #logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #logged-in-as-text {
    margin: auto;
    text-align: right;
    font-size: 0.8em;
  }
  #nav-drawer {
    display: none
  }
}