@import '../../styles/colors.scss';

/* mobile */
.view {
  flex-grow: 1;
}
.view-header-container{
  background: $primary;
  margin-bottom: 2%;
}
.view-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%;
  margin:auto;
}
.view-header-text {
  align-self: flex-start;
  font-size: 100%;
  color: $complement;
}

.view-content {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}

/* larger screens */
@media only screen and (min-width: 768px) {
  .view-header-text {
    font-size: 130%;
  }
}