@import '../../styles/colors.scss';
.app {
  display: flex;
}
.view {
  flex-grow: 1;
}
html, body {
  height: 100%;
  width: 100%
}
.view-header-container{
  background: $primary;
  margin-bottom: 2%;
}
.view-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%;
  margin:auto;
}
.view-header-text {
  align-self: flex-start;
  font-size: 180%;
  color: $complement;
}

.view-content {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin:auto;
}