@import '../../styles/colors.scss';
.errors-container{
  display: inline;
}
#login-form{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 60%;
}
.login-input{
  margin-bottom: 3%;
}
.login-label{
  margin-bottom:2%;
}
.login-submit{
  display: flex;
  justify-content: space-around;
  margin: auto;
  background-color: $primary-light;
}
.login-submit:hover {
  background-color: $primary;
}